{
  "parser": "babel-eslint",
  "extends": [
    "loopback",
    "standard",
    "airbnb",
    "standard-react"
  ],
  "rules": {
    "max-len": [1, 160, 2, { "ignoreComments": true }],
    "no-console": 0,
    "no-shadow": [1, { "allow": ["err", "resolve", "reject", "done", "cb"] }],
    "consistent-return": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "react/forbid-prop-types": [1, { "forbid": [] }],
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }],
    "no-param-reassign": ["error", { "props": false }],
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-closing-bracket-location": 0,
    "spaced-comment": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "no-underscore-dangle": 0,
    "react/no-multi-comp": 0,
    "prefer-const": 0,
    "react/jsx-boolean-value": 0,
    "arrow-body-style": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "no-trailing-spaces": 0,
    "no-use-before-define": 0,
    "react/sort-comp": 0,
    "padded-blocks": 0,
    "react/jsx-max-props-per-line": 0,
    "dot-notation": 0,
    "react/no-array-index-key": 0,
    "no-else-return": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0
  }
}
